@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Restaurant Rater is the premiere place to get movie reviews.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Using Restaurant Rater</h2>
        <p>
            Enim est eirmod vero et stet aliquyam labore amet vero stet eu ipsum esse tation diam facilisis accusam nonumy diam
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find the best food!</h2>
        <p>Nisl facilisis feugiat sed rebum diam nonummy sadipscing sed placerat sed autem cum lorem rebum ipsum ut sit sit dolor</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Restaurant Rater</h2>
        <p>Et velit clita dolor in euismod volutpat lobortis sadipscing magna enim dolor takimata aliquyam kasd ut at sed nulla lobortis</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>